<!-- include header -->
<%- include('include/_header') %>
  <!-- /include header -->


  <body onload="myFunction2()">
    <!-- partial:index.partial.html -->

    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
      <!-- Navigation-->
      <!-- include nav -->
      <%- include('include/_nav') %>
        <!-- /include nav -->
        <div class="content-wrapper">
          <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">My Dashboard</li>
            </ol>


            <div class="card mb-3"
              style="padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; ">
              <div class="card-header" style="margin-top: 30px;">
                <!-- Convert to upper case1
                <input type="checkbox" value="Subsidy Claim" id="job_type"
                  onclick="if(this.checked){myFunction('Subsidy Claim')} else{myFunction2()}">
                Convert to upper case2
                <input type="checkbox" value="State Govt" id="job_type"
                  onclick="if(this.checked){myFunction('State Govt')} else{myFunction2()}">
                Convert to upper case3
                <input type="checkbox" value="Electric Duty" id="job_type"
                  onclick="if(this.checked){myFunction('Electric Duty')} else{myFunction2()}">
                Convert to upper case4
                <input type="checkbox" value="Pre Scrutiny" id="job_type"
                  onclick="if(this.checked){myFunction('Pre Scrutiny')} else{myFunction2()}"> -->

                <style>
                  .label {
                    display: inline-flex;
                    align-items: center;
                    cursor: pointer;
                  }

                  .label-text {
                    margin-left: 8px;
                  }

                  .toggle {
                    isolation: isolate;
                    position: relative;
                    height: 24px;
                    width: 48px;
                    border-radius: 15px;
                    background: #d6d6d6;
                    overflow: hidden;
                  }

                  .toggle-inner {
                    z-index: 2;
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    height: 22px;
                    width: 46px;
                    border-radius: 15px;
                    overflow: hidden;
                  }

                  .active-bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 200%;
                    background: #003dda;
                    transform: translate3d(-100%, 0, 0);
                    transition: transform 0.05s linear 0.17s;
                  }

                  .toggle-state {
                    display: none;
                  }

                  .indicator {
                    height: 100%;
                    width: 200%;
                    background: white;
                    border-radius: 13px;
                    transform: translate3d(-75%, 0, 0);
                    transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
                  }

                  .toggle-state:checked~.active-bg {
                    transform: translate3d(-50%, 0, 0);
                  }

                  .toggle-state:checked~.toggle-inner .indicator {
                    transform: translate3d(25%, 0, 0);
                  }
                </style>

<center>
                <label class="label">
                  <div class="toggle">
                    <input class="toggle-state" type="checkbox" name="check" value="check" id="job_type" onclick="if(this.checked){myFunction('Subsidy Claim')} else{myFunction2()}"/>
                    <div class="toggle-inner">
                      <div class="indicator"></div>
                    </div>
                    <div class="active-bg"></div>
                  </div>
                  <div class="label-text">case1</div>
                </label>

                <label class="label">
                  <div class="toggle">
                    <input class="toggle-state" type="checkbox" name="check" value="check" id="job_type" onclick="if(this.checked){myFunction('State Govt')} else{myFunction2()}"/>
                    <div class="toggle-inner">
                      <div class="indicator"></div>
                    </div>
                    <div class="active-bg"></div>
                  </div>
                  <div class="label-text">case2</div>
                </label>


                <label class="label">
                  <div class="toggle">
                    <input class="toggle-state" type="checkbox" name="check" value="check" id="job_type" onclick="if(this.checked){myFunction('Electric Duty')} else{myFunction2()}"/>
                    <div class="toggle-inner">
                      <div class="indicator"></div>
                    </div>
                    <div class="active-bg"></div>
                  </div>
                  <div class="label-text">case3</div>
                </label>


                <label class="label">
                  <div class="toggle">
                    <input class="toggle-state" type="checkbox" name="check" value="check" id="job_type" onclick="if(this.checked){myFunction('Pre Scrutiny')} else{myFunction2()}"/>
                    <div class="toggle-inner">
                      <div class="indicator"></div>
                    </div>
                    <div class="active-bg"></div>
                  </div>
                  <div class="label-text">case4</div>
                </label>

                <label class="label">
                  <div class="toggle">
                    <input class="toggle-state" type="checkbox" name="check" value="check" />
                    <div class="toggle-inner">
                      <div class="indicator"></div>
                    </div>
                    <div class="active-bg"></div>
                  </div>
                  <div class="label-text">leave me alone</div>
                </label>
              </center>
              </div>
            </div>





            <!-- Dom trial -->
            <div class="card mb-3" id="myDIV">
              <div class="card-header">
                <i class="fa fa-table"></i> Toggle trial
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Client No</th>
                        <th>Firm Name</th>
                        <th>Concerned Person</th>
                        <th>Phone No</th>
                        <th>Email</th>
                        <th>Total tasks</th>
                        <th>Button</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
              <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
            </div>












            <!-- Dom trial -->
            <div class="card mb-3" id="myDIV2">
              <div class="card-header">
                <i class="fa fa-table"></i> Toggle trial2
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Client No</th>
                        <th>Firm Name</th>
                        <th>Concerned Person</th>
                        <th>Phone No</th>
                        <th>Email</th>
                        <th>Total tasks</th>
                        <th>Button</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
              <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
            </div>






            <!-- Dom trial -->
            <div class="card mb-3" id="myDIV3">
              <div class="card-header">
                <i class="fa fa-table"></i> Toggle trial3
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Client No</th>
                        <th>Firm Name</th>
                        <th>Concerned Person</th>
                        <th>Phone No</th>
                        <th>Email</th>
                        <th>Total tasks</th>
                        <th>Button</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
              <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
            </div>




            <!-- Dom trial -->
            <div class="card mb-3" id="myDIV4">
              <div class="card-header">
                <i class="fa fa-table"></i> Toggle trial4
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Client No</th>
                        <th>Firm Name</th>
                        <th>Concerned Person</th>
                        <th>Phone No</th>
                        <th>Email</th>
                        <th>Total tasks</th>
                        <th>Button</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
              <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
            </div>










            <!-- Example DataTables Card-->
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-table"></i> Firm Details
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Client No</th>
                        <th>Firm Name</th>
                        <th>Concerned Person</th>
                        <th>Phone No</th>
                        <th>Email</th>
                        <th>Total tasks</th>
                        <th>Button</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%- include('include/_show') %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
            </div>
          </div>

          <!-- /.container-fluid-->
          <!-- /.content-wrapper-->

          <%- include('include/_footer') %>

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
              <i class="fa fa-angle-up"></i>
            </a>

        </div>
    </body>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js'></script>
    <script src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap4.js'></script>
    <script src="js/script.js"></script>



    <script>
      function myFunction2(value) {
        var x = document.getElementById("myDIV");
        var a = document.getElementById("myDIV2");
        var b = document.getElementById("myDIV3");
        var c = document.getElementById("myDIV4");
        var y = value;
        if (y === "Subsidy Claim") {
          x.style.display = "none";
          console.log("if 1")
        }
        else if (y === "State Govt") {
          a.style.display = "none";
          console.log("if 2")
        }
        else if (y === "Electric Duty") {
          b.style.display = "none";
          console.log("if 3")
        }
        else if (y === "Pre Scrutiny") {
          c.style.display = "none";
          console.log("if 4")
        }
        else {
          x.style.display = "none";
          a.style.display = "none";
          b.style.display = "none";
          c.style.display = "none";
          console.log("else")
        }
      }
      function myFunction(value) {
        var x = document.getElementById("myDIV");
        var a = document.getElementById("myDIV2");
        var b = document.getElementById("myDIV3");
        var c = document.getElementById("myDIV4");
        var y = value;
        console.log(`hello ${y}`)
        if (y === "Subsidy Claim") {
          x.style.display = "block";
          console.log("if 1")
        }
        else if (y === "State Govt") {
          a.style.display = "block";
          console.log("if 2")
        }
        else if (y === "Electric Duty") {
          b.style.display = "block";
          console.log("if 3")
        }
        else if (y === "Pre Scrutiny") {
          c.style.display = "block";
          console.log("if 4")
        }
        else {
          x.style.display = "none";
          a.style.display = "none";
          b.style.display = "none";
          c.style.display = "none";
          console.log("else")
        }
      }
    </script>
  </body>

  </html>